header {
  height: 20px;
  background-color: #ffffff;
}
.card-container {
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

p.card__title {
  color: #282828;
  font-size: 14px;
}
p.card__description {
  color: #282828;
  font-size: 12px;
}
img.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 10px;
}
div.card {
  padding: 10px;
  background-color: #ffffff;
  margin: 50px;
}

footer {
  height: 20px;
  background-color: #ffffff;
}
